html {
    height: 100%;
    background-color:  #221E1D;   
    color: #E9633B; 
     font-family: Arial, Helvetica, sans-serif;
}

/*   color:  #63AA9C; greenish 
//    color: #E9633B; orangish */


.content {

}


#footer {
	font-size; small;
	position: fixed; bottom: 0;
}

#footer a {
	color:  #63AA9C;
	text-decoration: none;	   
}


#footer a:hover {
	color:   #E9633B; 
	text-decoration: underline;	   
}

.hidebutton {
    display: none;
}

input[type=text] {
 padding: 10px; 
  -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     border-radius: 5px;
     width: 95%;
}

/*
  Hide radio button (the round disc)
  we will use just the label to create pushbutton effect
*/
input[type=radio] {
    display:none; 
    margin-bottom: 0;
}

input[type=radio] + label {
    overflow: visible;
    width:95%;
    margin:-2px;
    line-height: 20px;
    color: #333;
    text-align: left;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
}
 
input[type=radio]:checked + label {
				  
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    background-color:   #BDBDBD;
      color:   #E9633B;
}

.correct {
    color: white;
    background-color: #ECEAE0;   
}

#response{
 color: #63AA9C;
 border-bottom: 5px;
 border-top: 5px;
}

.question-image{
 float: left; margin: 0px 3px 3px 0px;
}


h1 {
 padding: 3px; 
    color: #E9633B;
    border-bottom: 1px solid #63AA9C;
    text-align: left;
    font-size: medium;
}

.bigbutton {
         appearance: button;
        -moz-appearance: button;
        -webkit-appearance: button;


    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color:  #63AA9C;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    cursor: pointer;
    line-height: 20px;
    overflow: visible;
       padding: 4px 8px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    width: 95%;
    text-decoration: none;
    text-transform: uppercase;
}

.halfbutton {
         appearance: button;
        -moz-appearance: button;
        -webkit-appearance: button;
        display: inline-block; 
        padding: 2px 8px;
	width: 40%;
    background-color:  #63AA9C;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    cursor: pointer;
    line-height: 20px;
    overflow: visible;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;

}


#responsebox {
    border: 1px solid #63AA9C;
    text-align: center;
  -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     border-radius: 5px;
}

