<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.rebeccahunt.historyquiz"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>US Inventors History Quiz</name>
 
    <description>
        This quiz tests your knowledge of inventors in United State's history.  Please note: this app is part of my PhD research.  You are welcome to download and play this game, but if you want to help me graduate and participate in this study, please get more information and register at: http://saucers.cups.cs.cmu.edu/appinventors/index.html
    </description>
 
    <author href="http://saucers.cups.cs.cmu.edu/inventorsapp/index.html" email="balebako@cmu.edu">
        Rebecca Hunt Balebako
    </author>
    <content src="index.html" />
        <access origin="*" />
        <preference name="Fullscreen" value="true" />
        <preference name="WebViewBounce" value="true" /> 


<gap:splash src="splash/ios/Default.png" width="320" height="480" />
<gap:splash src="splash/ios/Default_at_2x.png" width="640" height="960" />
<gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
<gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />

<icon src="icon.png" />
<!--icon src="icons/ios/classic.png" gap:platform="ios" width="57" height="57" />
<icon src="icons/ios/ipad.png" gap:platform="ios" width="72" height="72" />
<icon src="icons/ios/retina.png" gap:platform="ios" width="114" height="114" />
<icon src="icons/ios/retina_ipad.png" gap:platform="ios" width="144" height="144" 
<icon src="icons/android/drawable-mdpi/ic_launcher.png" gap:platform="android" gap:density="mdpi" />
<icon src="icons/android/drawable-hdpi/ic_launcher.png" gap:platform="android" gap:density="hdpi" />
<icon src="icons/android/drawable-xhdpi/ic_launcher.png" gap:platform="android" gap:density="xhdpi" /-->


</widget>
