<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.rebeccahunt.historyquiz"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>US Inventors History Quiz</name>
 
    <description>
        This quiz tests your knowledge of inventors in United State's history.  Please note: this app is part of my PhD research.  You are welcome to download and play this game, but if you want to help me graduate and participate in this study, please get more information and register at: http://saucers.cups.cs.cmu.edu/~rahunt/quiz/index.html
    </description>
 
    <author href="http://saucers.cups.cs.cmu.edu/~rahunt/quiz/index.html" email="balebako@cmu.edu">
        Rebecca Hunt Balebako
    </author>
 <content src="index.html" />
        <access origin="*" />
        <preference name="Fullscreen" value="true" />
        <preference name="WebViewBounce" value="true" /> 
    <feature name="http://api.phonegap.com/1.0/notification"/>
</widget>
